mixin menu-inner__item(content, params)
  if content.type=="line"
    li.menu-inner__item.menu-inner__item-line
  else 
    li.menu-inner__item&attributes(attributes)
      a(href=content.href)!=content.title

mixin menu-inner__download(content, params)
  .menu-inner__download&attributes(attributes)
    a(href=content.button.href).menu-inner__download-button
      .menu-inner__download-button-img
      .menu-inner__download-button-text!=content.button.title 
    p.menu-inner__footer!=content.text
      a(href=content.link.href, target="_blank").menu-inner__footer-link!=content.link.title

mixin menu-inner(content, params)
  .menu-inner&attributes(attributes)
    .menu-inner__wrapper
      .menu-inner__button-close
      ul.menu-inner__list
        //- +menu-inner__item({href:"", title:"Сохранить и приумножить"})
        //- +menu-inner__item({href:"", title:"Получить финансирование"})
        //- +menu-inner__item({href:"", title:"Решение для вашего бизнеса"})
        //- +menu-inner__item({href:"", title:"Банковское обслуживание"})
        //- +menu-inner__item({href:"", title:"Решения для вашей семьи и консалтинг"})
        //- +menu-inner__item({type:"line"})
        //- +menu-inner__item({href:"", title:"О нас"})
        //- +menu-inner__item({href:"", title:"Контактная информация"})
        +links-button
      +menu-inner__download({button: {href:"#", title:"Скачать «Услуги FWR»"}, text:"&copy;&nbsp;2009-2017&nbsp;АО &laquo;Райффайзенбанк&raquo;", link:{ href :"https://www.raiffeisen.ru", title :" www.raiffeisen.ru" }})
